.content-contacto
	.form
		h4 Si estás listo para innovar

		h3 Envíanos un mensaje llenando los datos del<br/>siguiente formulario:

		form
			label(class="nombre")
			input(type="text" name="nombre" placeholder="Nombre y apellido")
			label(class="empresa")
			input(type="text" name="empresa" placeholder="Empresa")
			label(class="email")
			input(type="email" name="email" placeholder="Correo electrónico")
			label(class="mensaje")
			input(type="textarea" name="mensaje" placeholder="Mensaje")
			input(type="button" name="boton" value="Enviar")


			span(class="success") Su mensaje ha sido enviado con éxito


	.info
		h5 O Comunícate con nosotros a través de:

		ul 
			li(class="oficina")
				|Nuestras oficinas:<br/>
				span Av. José Pardo 831 - Miraflores

			li(class="correo")
				|Correo electrónico<br/>
				span bizruptiva@visanet.com.pe

			li(class="telefono")
				|Centra telefónica<br/>
				span 614 9800 (Lima) - Anexo: 1234<br/>
				span 0800-100-100 (Provincias): - Anexo:1234
		.siguenos-instagram
			a(href="#") siguenos en


.barra-instagram
	.elemento-instagram
		h6 #Bizruptiva en Instagram

		span @bizruptiva

.barra-info
	.elementos-info
		.box(class="box-1")
			img(src="images/box-1.jpg")
			.text-box-1
				|Hola, te damos la bienvenida a Bizruptiva, un espacio que busca encontrar soluciones innovadoras para causar un gran impacto en la vida de los peruanos.
		.box(class="box-2")
			img(src="images/box-2.jpg")
		.box(class="box-3")
			img(src="images/box-3.jpg")
		.box(class="box-4")
			img(src="images/box-4.jpg")
		.box(class="box-5")
			img(src="images/box-5.jpg")





			

    		
    	
