.banner-discover(id="discover" class="mejorar-sociedad")
	.titulo-discover(class="titulo-sociedad")
		.content-titulo(class="tit-negocio")
			.siguenos
				a(href="#") innovación para el desarrollo del 
					span Negocio
	.contenido-banner(class="contenido-sociedad")
		.img-sociedad
			img(src="images/img-negocio.jpg")
		.centra-banner(class="text-sociedad")
			.titulo-banner(class="titulo-negocio")
				p Lorem ipsum dolor sit amet, consectetuer 
				p adipiscing elit, sed diam nonummy nibh 
				p euismod tincidunt ut laoreet dolore magna 
				p aliquam erat volutpat. Ut wisi enim ad

			.descripcion-banner(class="desc-sociedad")
				p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
				p Duis autem vel eum iriure dolor in hendrerit in vulputateLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.  
			
		.scroll-bottom(class="btn-discover")
			img(src="images/scroll-bottom-sociedad.png")
	
	
.proyectos(id="proyectos" class="prevencion-cancer")
	.titulo-proyectos(class="titulo-prevencion")
		.content-titulo
			.siguenos(class="siguenos-prevencion tit-negocio")
				a(href="#") Proyectos de Innovación para el 
					span Negocio
	.banner-proyectos(class="banner-negocio")
		.base-video
			.play-video
				.ico-play
					a(href="#")
						img(src="images/play.png")
		.content-eco
			.info-eco
				.elementos-eco
					.titulo-eco
						|Pagos en terminales desatendidos
					.descripcion-eco
						p Empezamos imaginando un mundo “Cashless”, donde el efectivo 
						p no es necesario en el día a día de una persona. Fue así como 
						p empezamos a desarrollar el primer proyecto de Bizruptiva.
 
					.btn-eco(class="blanco")
						a(href="#") Conoce más

.items-menus
	.items-tit
	.items
		.eco-s
			.tit-item 
				|Innovación con el
			.sub-tit-item
				|Ecosistema
	.items
		.neg-s
			.tit-item 
				|Innovación para el desarollo de la
			.sub-tit-item
				|Sociedad
				

.barra-contactos
	.elemento-contacto
		h5 ¿Listo para comenzar a innovar?

		.btn-contacto
			a(href="#") CONTÁCTANOS

.barra-instagram
	.elemento-instagram
		h6 #Bizruptiva en Instagram

		span @bizruptiva

.barra-info
	.elementos-info
		.box(class="box-1")
			img(src="images/box-1.jpg")
			.text-box-1
				|Hola, te damos la bienvenida a Bizruptiva, un espacio que busca encontrar soluciones innovadoras para causar un gran impacto en la vida de los peruanos.
		.box(class="box-2")
			img(src="images/box-2.jpg")
		.box(class="box-3")
			img(src="images/box-3.jpg")
		.box(class="box-4")
			img(src="images/box-4.jpg")
		.box(class="box-5")
			img(src="images/box-5.jpg")





			

    		
    	
