.banner-discover(id="discover" class="mejorar-sociedad")
	.titulo-discover(class="fondo-ecosistema")
		.content-titulo(class="tit-ecosistema")
			.siguenos
				a(href="#") innovación con el 
					span Ecosistema
	.contenido-banner(class="contenido-ecosistema")
		.centra-banner(class="text-ecosistema")
			.titulo-banner(class="titulo-ecosistema")
				p Los proyectos que realizamos en Bizruptiva 
				p son de alto impacto para la vida de los 
				p peruanos, buscando la digitalización y 
				p solución de problemas que los afectan en
				p su día a día.
			.descripcion-banner(class="desc-sociedad")
				p - Hemos trabajado proyectos que busca generar una cultura de prevención contra el cáncer mediante soluciones digitales y la colaboración de más peruanos.
				p - Actualmente el centro de innovación está inmerso en un proyecto para beneficio de la mujer emprendedora peruana, y de generar igualdad para su desarrollo personal, económico y profesional. 
		.img-ecosistema
			img(src="images/img-ecosistema.jpg")

		.scroll-bottom(class="btn-discover")
			img(src="images/scroll-bottom-amarillo.png")
	
	
.proyectos(id="proyectos" class="prevencion-cancer")
	.titulo-proyectos(class="titulo-prevencion")
		.content-titulo
			.siguenos(class="siguenos-ecosistema")
				a(href="#") Proyectos de Innovación con el 
					span Ecosistema
	.banner-proyectos(class="banner-ecosistema")
		.base-video
			.play-video
				.ico-play
					a(href="#")
						img(src="images/play.png")
		.content-eco
			.info-eco
				.elementos-eco
					.titulo-eco
						|Nuestro trabajo con Start Ups
					.descripcion-eco
						p Buscamos una relación directa y cercana con el ecosistema
						p innovador para crear soluciones disruptivas y transformacionales 
						p que van más allá de nuestro negocio.
					.btn-eco(class="blanco")
						a(href="#") Conoce más

.items-menus
	.items-tit-neg
	.items-neg
		.neg-n
			.tit-item 
				|Innovación para el desarrollo deñ
			.sub-tit-item
				|Negocio
	.items
		.neg-s
			.tit-item 
				|Innovación para el desarollo de la
			.sub-tit-item
				|Sociedad
				

.barra-contactos
	.elemento-contacto
		h5 ¿Listo para comenzar a innovar?

		.btn-contacto
			a(href="#") CONTÁCTANOS

.barra-instagram
	.elemento-instagram
		h6 #Bizruptiva en Instagram

		span @bizruptiva

.barra-info
	.elementos-info
		.box(class="box-1")
			img(src="images/box-1.jpg")
			.text-box-1
				|Hola, te damos la bienvenida a Bizruptiva, un espacio que busca encontrar soluciones innovadoras para causar un gran impacto en la vida de los peruanos.
		.box(class="box-2")
			img(src="images/box-2.jpg")
		.box(class="box-3")
			img(src="images/box-3.jpg")
		.box(class="box-4")
			img(src="images/box-4.jpg")
		.box(class="box-5")
			img(src="images/box-5.jpg")





			

    		
    	
