.banner-discover(id="discover" class="mejorar-sociedad")
	.contenido-banner(class="contenido-sociedad contenido-detalle-proyecto")
		.img-detalle-proyecto
			img(src="images/img-detalle.jpg")
			.play-detalle
				a(href="#")
					img(src="images/play.png")
		.centra-banner(class="text-detalle-proyecto")
			.titulo-banner(class="titulo-detalle-proyecto")
				p Lorem ipsum dolor sit amet, consectetuer 
				p adipiscing elit, sed diam nonummy nibh 
				p euismod tincidunt ut laoreet dolore magna 
				p aliquam erat volutpat. Ut wisi enim ad

			.descripcion-banner(class="desc-proyecto-detalle")
				p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
				p Duis autem vel eum iriure dolor in hendrerit in vulputateLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
	
.proyectos(id="proyectos" class="detalle-bloque-proyectos")
	.titulo-proyectos(class="titulo-prevencion bg-tit-proyectos")
		.content-titulo(style="display:none;")
	.banner-proyectos(class="slider-proyectos")
		.parrafo
			p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
			p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

			p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 

		.info-team
			.img-team 
				img(src="images/img-ceo.jpg")
			.detalle-team
				.nombre-team
					|Angela Chaparro
				.cargo-team
					|CEO - Laboratoria

			.description-team
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, dolores eos qui ratione voluptatem sequi nesciunt. 


	.slider-pro
		.nav
			.prev
				img(src="images/prev.jpg")
				span(class="ant") Anterior
			.next
				img(src="images/next.jpg")
				span(class="sig") Siguiente
		img(src="images/img-slider-detalle.jpg")
		.nav-mobile
			img(src="images/nav-mobile.png")

.bloque-texto-redes
	p El ecosistema de innovación para VisaNet y para Bizruptiva está conformado por<br/> nuestros comercios afiliados, las start-ups, las instituciones educativas,<br/> incubadoras y aceleradoras. Así como también el gobierno y otros centros de<br/> innovación de diversos sectores como la banca.

		.compartir
			ul
				li Compartir

				li
					a(href="#" class="facebook") facebook
				li
					a(href="#" class="twitter") twitter
		
				

.barra-contactos
	.elemento-contacto
		h5 ¿Listo para comenzar a innovar?

		.btn-contacto
			a(href="#") CONTÁCTANOS

.barra-instagram
	.elemento-instagram
		h6 #Bizruptiva en Instagram

		span @bizruptiva

.barra-info
	.elementos-info
		.box(class="box-1")
			img(src="images/box-1.jpg")
			.text-box-1
				|Hola, te damos la bienvenida a Bizruptiva, un espacio que busca encontrar soluciones innovadoras para causar un gran impacto en la vida de los peruanos.
		.box(class="box-2")
			img(src="images/box-2.jpg")
		.box(class="box-3")
			img(src="images/box-3.jpg")
		.box(class="box-4")
			img(src="images/box-4.jpg")
		.box(class="box-5")
			img(src="images/box-5.jpg")





			

    		
    	
