    @import "mediaquieres";

    html {
        height: 100%;
    }

    body {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    * {
        outline: none;
        outline: 0;
    }

    * {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
    }

    img {
        max-width: 100%;
        height: auto;
        vertical-align: middle;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    @font-face {
        font-family: 'ralewaybold';
        src: url('../fonts/raleway-bold-webfont.eot');
        src: url('../fonts/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
            url('../fonts/raleway-bold-webfont.woff') format('woff'),
            url('../fonts/raleway-bold-webfont.ttf') format('truetype'),
            url('../fonts/raleway-bold-webfont.svg#ralewaybold') format('svg');
        font-weight: normal;
        font-style: normal;
        font-display: auto;
    }

    @font-face {
        font-family: 'ralewayregular';
        src: url('../fonts/raleway-regular-webfont.eot');
        src: url('../fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
            url('../fonts/raleway-regular-webfont.woff') format('woff'),
            url('../fonts/raleway-regular-webfont.ttf') format('truetype'),
            url('../fonts/raleway-regular-webfont.svg#ralewayregular') format('svg');
        font-weight: normal;
        font-style: normal;
        font-display: auto;
    }

    @font-face {
        font-family: 'ralewaymedium';
        src: url('../fonts/raleway-medium-webfont.eot');
        src: url('../fonts/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
            url('../fonts/raleway-medium-webfont.woff') format('woff'),
            url('../fonts/raleway-medium-webfont.ttf') format('truetype'),
            url('../fonts/raleway-medium-webfont.svg#ralewaymedium') format('svg');
        font-weight: normal;
        font-style: normal;
        font-display: auto;
    }

    @font-face {
        font-family: 'ralewaylight';
        src: url('../fonts/raleway-light-webfont.eot');
        src: url('../fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
            url('../fonts/raleway-light-webfont.woff') format('woff'),
            url('../fonts/raleway-light-webfont.ttf') format('truetype'),
            url('../fonts/raleway-light-webfont.svg#ralewaylight') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'DINPro-Regular';
        src: url('../fonts/DINPro-Regular.eot?#iefix') format('embedded-opentype'),
            url('../fonts/DINPro-Regular.woff') format('woff'), url('../fonts/DINPro-Regular.ttf') format('truetype'), url('../fonts/DINPro-Regular.svg#DINPro-Regular') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'DINPro-Bold';
        src: url('../fonts/DINPro-Bold.eot?#iefix') format('embedded-opentype'),
            url('../fonts/DINPro-Bold.woff') format('woff'), url('../fonts/DINPro-Bold.ttf') format('truetype'), url('../fonts/DINPro-Bold.svg#DINPro-Bold') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    header {
        padding: 50px 0 0 0;
        position: relative;

        .top {
            width: 100%;
            position: relative;
            margin: 0 auto 160px auto;

            @include tablet {
                margin-bottom: 50px;
                padding: 0;
            }

            padding: 0 30px;

            .elemento-row {
                width: 100%;
                display: flex;
                justify-content: space-between;

                .elemento-column {
                    position: relative;
                    min-height: 1px;

                    .menu_on {
                        display: inline-block;
                        vertical-align: middle;
                        width: 30px;
                        height: 22px;
                        position: relative;
                        z-index: 2;

                        span {
                            width: 100%;
                            height: 3px;
                            display: block;
                            position: absolute;
                            background: #313a48;
                            transition: all 0.25s ease;
                            /* Propiedades a animar | Tiempo | Tipo animación*/
                            transform-origin: 0px 100%;

                            &:nth-child(2) {
                                top: calc(50% - 2px);
                                margin-left: 5px;
                            }

                            &:nth-child(3) {
                                bottom: 0;
                            }
                        }

                        &.m-blanco {
                            span {
                                background: #ffffff;
                            }
                        }
                    }

                    .logo {
                        display: inline-block;
                        vertical-align: middle;
                        margin-left: 35px;

                        @include tablet {
                            width: 75%;
                        }
                    }

                    .btn-contacto {
                        width: 125px;
                        height: 40px;
                        margin-top: 12px;

                        a {
                            display: block;

                            background: #006fba;
                            border-radius: 20px;
                            text-align: center;
                            line-height: 40px;
                            color: #fff;
                            font-family: 'ralewaybold';
                            font-size: 0.875em;
                            text-decoration: none;
                        }

                        @include tablet {
                            display: none;
                        }

                        &.btn-blanco {

                            a {
                                background: #ffffff;
                                color: #f05674;
                            }

                        }

                        &.btn-azul {

                            a {
                                background: #ffffff;
                                color: #006fba;
                            }

                        }

                        &.btn-sistema {
                            a {
                                background: #ffffff;
                                color: #006fba;
                            }
                        }
                    }
                }
            }
        }

        .menu-blanco {
            display: none !important;
        }

        .menu {
            background: #313a48;
            padding: 50px 35px;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 999999;
            padding: 20px;
            display: none;

            .top-menu {
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-bottom: 60px;

                .close {
                    display: inline-block;
                    vertical-align: middle;
                    line-height: 47px;
                    margin-right: 47px;
                }

                .logo-menu {

                    display: inline-block;
                    vertical-align: middle;

                }
            }

            nav {
                display: table;
                clear: both;
                width: 100%;
                content: "";
                padding: 0 0 0 75px;

                ul {
                    li {
                        font-family: 'ralewaybold';
                        font-size: 1.05em;
                        line-height: 60px;

                        a {
                            color: #fff !important;
                            text-decoration: none;
                        }

                        ul.sub-menu {
                            padding: 0 0 0 25px;
                            display: none;

                            li {

                                font-family: 'ralewayregular';
                                font-size: 0.95em;
                                line-height: 40px;

                                a {
                                    color: #c6cedb;
                                }
                            }
                        }

                        &.prensa {
                            display: inline-block;
                            vertical-align: middle;
                            width: 100%;
                            position: relative;

                            a {
                                position: relative;
                                display: block;
                                width: 100%;

                                .open-close {
                                    position: absolute;
                                    right: 0;
                                    top: 25%;
                                    width: 24px;
                                    height: 24px;
                                    cursor: pointer;

                                    &:before {
                                        display: inline-block;
                                        vertical-align: top;
                                        background: url('../images/open-close.png') no-repeat 0 -25px;
                                        width: 24px;
                                        height: 24px;
                                        content: "";
                                    }
                                }

                                .close-open {
                                    position: absolute;
                                    right: 0;
                                    top: 25%;
                                    width: 24px;
                                    height: 24px;
                                    cursor: pointer;

                                    &:before {
                                        display: inline-block;
                                        vertical-align: top;
                                        background: url('../images/open-close.png') no-repeat 0 0;
                                        width: 24px;
                                        height: 24px;
                                        content: "";
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .instagram {
                padding: 140px 0 0 75px;

                .tit-siguenos {
                    color: #fff;
                }

                .icono-instagram {
                    padding-left: 20px;
                }
            }

            @include tablet {
                padding: 20px;
            }
        }

        @include tablet {

            .menu {
                display: none !important;
            }

            .menu-blanco {
                background: #ffffff;
                padding: 50px 35px;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 999999;
                padding: 20px;
                display: none;

                .top-menu {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 60px;

                    .close {
                        display: inline-block;
                        vertical-align: middle;
                        line-height: normal;
                        margin-right: 10px;
                        width: 50px;
                        height: 22px;
                    }

                    .logo-menu {

                        display: inline-block;
                        vertical-align: middle;

                    }
                }

                nav {
                    display: table;
                    clear: both;
                    width: 100%;
                    content: "";
                    padding: 0 0 0 75px;

                    ul {
                        li {
                            font-family: 'ralewaybold';
                            font-size: 1.05em;
                            line-height: 60px;

                            @include tablet {
                                font-family: 'ralewaylight';
                            }

                            a {
                                color: #313a48 !important;
                                text-decoration: none;
                                display: inline-block;
                                vertical-align: middle;


                            }

                            ul.sub-menu {
                                padding: 0 0 0 25px;
                                display: none;

                                li {

                                    font-family: 'ralewayregular';
                                    font-size: 0.95em;
                                    line-height: 40px;

                                    a {
                                        color: #c6cedb;
                                    }
                                }
                            }

                            &.prensa {
                                display: inline-block;
                                vertical-align: middle;
                                width: 100%;
                                position: relative;

                                a {
                                    position: relative;
                                    display: block;
                                    width: 100%;

                                    .open-close {
                                        position: absolute;
                                        right: 0;
                                        top: 25%;
                                        width: 24px;
                                        height: 24px;
                                        cursor: pointer;

                                        &:before {
                                            display: inline-block;
                                            vertical-align: top;
                                            background: url('../images/open-close-2.png') no-repeat 0 -25px;
                                            width: 24px;
                                            height: 24px;
                                            content: "";
                                        }
                                    }

                                    .close-open {
                                        position: absolute;
                                        right: 0;
                                        top: 25%;
                                        width: 24px;
                                        height: 24px;
                                        cursor: pointer;

                                        &:before {
                                            display: inline-block;
                                            vertical-align: top;
                                            background: url('../images/open-close-2.png') no-repeat 0 0;
                                            width: 24px;
                                            height: 24px;
                                            content: "";
                                        }
                                    }
                                }
                            }

                            &.active {
                                position: relative;

                                &:before {
                                    position: absolute;
                                    top: 42%;
                                    left: -30px;
                                    background: url('../images/icon-mobile.png') no-repeat;
                                    width: 13px;
                                    height: 14px;
                                    content: "";
                                }
                            }
                        }
                    }
                }

                .instagram {
                    padding: 140px 0 0 75px;

                    .tit-siguenos {
                        color: #313a48;
                    }

                    .icono-instagram {
                        padding-left: 20px;
                    }
                }
            }
        }

        @include tablet {
            padding: 50px 10px 0 10px;
        }

        &.sociedad {
            background: rgba(240, 86, 116, .5) url('../images/banner-sociedad.png') no-repeat left top;
            background-size: cover;
            height: auto;
        }

        &.negocio {
            background: rgba(12, 118, 189, .5) url('../images/banner-negocio.png') no-repeat left top;
            background-size: cover;
            height: auto;
        }

        &.ecosistema {
            background: rgba(250, 166, 26, 1) url('../images/banner-ecosistema.png') no-repeat left top;
            background-size: cover;
            height: auto;
        }

        &.detalle-proyecto {
            background: url('../images/banner-proyecto-detalle.jpg') no-repeat center top;
            background-size: cover;
            height: auto;
        }
    }

    .container-header {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .titulo-instagram {
            width: 5%;
            position: relative;

            .content-titulo {
                transform: rotate(180deg);
                position: absolute;
                top: 40%;
                left: 35%;
                writing-mode: vertical-rl;

                .siguenos {
                    display: inline-block;
                    vertical-align: middle;

                    a {
                        color: #a6aebb;
                        text-decoration: none;
                        display: inline-block;
                        vertical-align: middle;
                        position: relative;
                        font-family: 'ralewaybold';
                        font-size: 0.875em;

                        &:before {
                            display: inline-block;
                            vertical-align: middle;
                            content: "";
                            background: url('../images/icon-instagram-lateral.png') no-repeat;
                            width: 27px;
                            height: 27px;
                            position: absolute;
                            right: -20%;
                            top: -42px;
                        }
                    }

                    &.siguenos-blanco {
                        a {
                            color: #ffffff;

                            &:before {
                                content: "";
                                background: url('../images/icono-instagram.png') no-repeat;
                                width: 29px;
                                height: 29px;
                            }
                        }
                    }
                }

                @include tablet {
                    transform: none;
                    position: relative;
                    left: auto;
                    writing-mode: inherit;
                }

                &.sigueneos-proyecto {
                    top: 60%;
                }


            }

            @include tablet {
                display: none;
            }
        }


        .elemento-row {
            width: 95%;
            display: flex;
            justify-content: space-between;
            position: relative;

            @include tablet {
                width: 100%;
                //lex-direction: column;
                display: flow-root;
            }

            .box-video {
                width: 50%;
                margin-top: 22px;
                padding: 0 0 0 5px;

                h4 {
                    font-family: 'ralewaybold';
                    font-size: 1.6em;
                    margin: 0;
                    text-align: left;
                    color: #313a48;

                    @include tablet {
                        font-size: 1.3em;
                    }
                }

                h3 {
                    font-family: 'ralewayregular';
                    font-size: 1em;
                    margin: 0;
                    text-align: left;
                    color: #313a48;
                    margin-top: 30px;
                    line-height: 24px;
                    padding-right: 25%;

                    @include tablet {
                        padding-right: 0;
                    }
                }

                .btn-conoce-mas {
                    width: 160px;
                    height: 40px;
                    border-radius: 50px;
                    border: 1px solid #f05674;
                    font-size: 0.875em;
                    font-family: 'ralewaybold';
                    line-height: 40px;
                    margin-top: 25px;

                    a {
                        text-decoration: none;
                        color: #f05674;
                        display: block;


                        &:before {
                            display: inline-block;
                            vertical-align: middle;
                            content: "";
                            width: 30px;
                            height: 30px;
                            background: url('../images/icono-mas.png') no-repeat;
                            margin: -7px 10px 0 5px;
                        }
                    }

                    @include tablet {
                        display: none;
                    }
                }

                .player {
                    max-width: 500px;
                    height: 280px;
                    position: relative;
                    margin-top: 10px;

                    .ico-play {
                        position: absolute;
                        width: 100%;
                        text-align: center;
                        top: 35%;
                    }
                }

                @include tablet {
                    width: 100%;
                }

                &.texto-sociedad {
                    h4 {
                        color: #ffffff;
                        font-family: 'ralewayregular';

                        span {
                            font-family: 'ralewaybold';
                        }
                    }

                    h3 {
                        color: #ffffff;
                    }
                }

                &.texto-proyecto {
                    h4 {
                        color: #faa61a;
                        font-family: 'ralewayregular';
                        font-size: 1em;
                    }

                    h3 {
                        font-family: 'ralewaybold';
                        font-size: 30px;
                        color: #ffffff;
                        line-height: normal;

                        @include tablet {
                            font-size: 18px;
                            line-height: 25px
                        }
                    }

                    @include tablet {
                        position: absolute;
                        bottom: 15%;
                    }
                }
            }

            .formas {
                width: 50%;
                height: 450px;
                position: relative;

                .position-formas {
                    display: flex;
                    justify-content: space-between;

                    .conos-1 {
                        width: 58%;
                        position: relative;
                        height: 490px;
                        z-index: 15;

                        .cian {
                            position: absolute;
                            top: -20px;
                            left: 70%;

                            @include apaisada {
                                left: 85px;
                                width: 30%
                            }

                        }

                        .azul2 {
                            position: absolute;
                            right: 20px;
                            top: 140px;

                            @include apaisada {
                                top: 15%;
                                right: 10px;
                                width: 15%;
                            }

                        }

                        .magenta {
                            position: absolute;
                            top: 90px;
                            right: -50px;

                            .titulo {
                                position: absolute;
                                top: 46%;
                                text-align: center;
                                width: 70%;
                                font-family: 'ralewaybold';
                                color: #fff;
                                font-size: 1.250em;

                                @include apaisada {
                                    font-size: 0.95em;
                                    top: 40%;
                                }
                            }

                            @include tablet {
                                width: 100%;
                                right: -40%;

                            }

                            @include apaisada {
                                width: 80%;
                            }

                            @include mobile {
                                top: 60px;
                                right: -30px;
                                width: 100%;
                            }
                        }

                        .cian2 {
                            position: absolute;
                            bottom: 25px;
                            left: 65%;

                            @include tablet {
                                bottom: 10%;

                            }

                            @include apaisada {
                                bottom: 35%;
                                width: 20%;
                                left: 60%;
                            }

                            @include mobile {
                                bottom: 45%;
                            }

                        }

                        @include bigLapto {
                            width: 50%;
                        }

                        @include apaisada {
                            width: 40%;
                            height: 430px
                        }


                    }

                    .conos-2 {
                        width: 42%;
                        position: relative;
                        z-index: 10;

                        .amarillo {
                            position: absolute;
                            right: 0;
                            top: -10%;

                            .titulo {
                                position: absolute;
                                top: 46%;
                                text-align: center;
                                width: 70%;
                                font-family: 'ralewaybold';
                                color: #fff;
                                font-size: 1.250em;

                                @include apaisada {
                                    font-size: 1em;
                                }
                            }
                        }

                        .magenta2 {
                            position: absolute;
                            top: 0;
                            right: 0;
                            padding-right: 30px;

                            @include apaisada {
                                top: 0;
                                width: 25%;
                            }
                        }

                        .azul {
                            position: absolute;
                            right: 0;
                            bottom: 0;

                            .titulo {
                                position: absolute;
                                top: 46%;
                                text-align: center;
                                width: 70%;
                                font-family: 'ralewaybold';
                                color: #fff;
                                font-size: 1.250em;

                                @include apaisada {
                                    top: 40%;
                                    font-size: 1em;
                                }
                            }

                            @include apaisada {
                                width: 60%;
                                bottom: 35%;
                            }

                            @include mobile {
                                bottom: 45%;
                            }
                        }

                        .amarillo2 {
                            position: absolute;
                            right: 0;
                            bottom: -15px;
                            padding-right: 40px;

                            @include apaisada {
                                bottom: 35%;
                                width: 30%;
                            }

                            @include mobile {
                                bottom: 45%;
                            }
                        }

                        @include bigLapto {
                            width: 50%;
                        }

                        @include apaisada {
                            width: 60%;
                            height: 430px;
                        }


                    }
                }

                @include tablet {
                    width: 100%;
                    margin-top: 80px;
                }
            }

            .scroll-bottom {
                position: absolute;
                bottom: 0;
                left: 0;
                text-align: center;
                width: 100%;
                height: 50px;
                cursor: pointer;
            }
        }

        &.detalle-banner-proyecto {
            height: 768px;
        }
    }

    .banner-discover {
        background: url(../images/discover.jpg) no-repeat center center;
        width: 100%;
        height: 770px;
        display: table;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        display: flex;
        justify-content: space-between;
        position: relative;

        .titulo-discover {
            width: 5%;
            position: relative;

            .content-titulo {
                transform: rotate(180deg);
                position: absolute;
                top: 40%;
                left: 35%;
                writing-mode: vertical-rl;

                .siguenos {
                    display: inline-block;
                    vertical-align: middle;

                    a {
                        color: #fff;
                        text-decoration: none;
                        display: inline-block;
                        vertical-align: middle;
                        position: relative;
                        font-family: 'ralewaybold';
                        font-size: 0.875em;
                    }

                    @include tablet {
                        display: table-cell;
                    }
                }

                @include tablet {
                    transform: none;
                    position: relative;
                    left: auto;
                    top: auto;
                    height: 100%;
                    display: table;
                    width: 100%;
                    writing-mode: inherit;

                }

                span {
                    color: #f05674;
                }

                &.tit-negocio {
                    span {
                        color: #006fba;
                    }
                }

                &.tit-ecosistema {
                    a {
                        color: #ffffff;
                    }

                    span {
                        color: #faa61a;
                    }
                }
            }

            @include tablet {
                width: 100%;
                text-align: center;
                height: 80px;
            }

            &.titulo-sociedad {
                background: #313a48;

            }

            &.fondo-ecosistema {
                background: #313a48;

            }
        }

        .contenido-banner {
            display: table;
            height: 100%;
            text-align: center;
            color: #fff;
            width: 95%;
            position: relative;

            .centra-banner {
                display: table-cell;
                vertical-align: middle;

                .titulo-banner {
                    display: block;
                    font-family: 'ralewaybold';
                    font-size: 1.25em;
                    margin-bottom: 60px;

                    @include tablet {
                        margin-bottom: 10px;
                    }

                    &.titulo-sociedad {
                        p {
                            color: #f05674;
                            font-family: 'ralewaybold';
                            font-size: 1.500em;
                            line-height: normal;
                            margin-bottom: 5px;
                            text-align: left;

                            @include desktop {
                                font-size: 1em;
                            }

                            @include tablet {
                                font-size: 0.9em;
                                color: #faa61a;
                                line-height: 24px;
                            }


                        }

                        @include tablet {
                            margin-bottom: 40px;
                        }
                    }

                    &.titulo-negocio {
                        p {
                            color: #006fba;
                            font-family: 'ralewaybold';
                            font-size: 1.500em;
                            line-height: normal;
                            margin-bottom: 5px;
                            text-align: left;

                            @include desktop {
                                font-size: 1em;
                            }

                            @include tablet {
                                font-size: 0.9em;
                                color: #faa61a;
                                line-height: 24px;
                            }


                        }

                        @include tablet {
                            margin-bottom: 40px;
                        }
                    }

                    &.titulo-ecosistema {
                        p {
                            color: #faa61a;
                            font-family: 'ralewaybold';
                            font-size: 1.500em;
                            line-height: normal;
                            margin-bottom: 5px;
                            text-align: left;

                            @include desktop {
                                font-size: 1em;
                            }

                            @include tablet {
                                font-size: 0.9em;
                                color: #faa61a;
                                line-height: 24px;
                            }


                        }

                        @include tablet {
                            margin-bottom: 40px;
                        }
                    }


                    &.titulo-detalle-proyecto {
                        margin-bottom: 30px;

                        p {
                            color: #faa61a;
                            font-family: 'ralewaybold';
                            font-size: 1.500em;
                            line-height: normal;
                            margin-bottom: 5px;
                            text-align: left;

                            @include desktop {
                                font-size: 1em;
                            }

                            @include tablet {
                                font-size: 0.9em;
                                color: #faa61a;
                                line-height: 24px;
                            }

                            @include apaisada {
                                line-height: normal;
                            }


                        }

                        @include tablet {
                            margin-bottom: 20px;
                            font-size: 1.2em;
                        }
                    }



                }

                .descripcion-banner {
                    display: block;

                    p {
                        font-family: 'ralewayregular';
                        font-size: 1.6em;
                        margin: 0;

                        @include tablet {
                            font-size: 0.8em;

                        }
                    }

                    &.desc-sociedad {
                        p {
                            color: #5b616a;
                            text-align: left;

                            @include desktop {
                                font-size: 1em;
                            }
                        }

                    }


                    &.desc-proyecto-detalle {
                        p {
                            color: #5b616a;
                            text-align: left;
                            font-size: 1em;
                            margin-bottom: 20px;

                            @include desktop {
                                font-size: 1em;
                            }
                        }

                    }
                }

                .btn-conoce-mas {
                    display: none;
                }

                @include tablet {
                    .btn-conoce-mas {
                        width: 160px;
                        height: 40px;
                        border-radius: 50px;
                        border: 1px solid #fff;
                        font-size: 0.875em;
                        font-family: 'ralewaybold';
                        line-height: 40px;
                        margin-top: 25px;
                        display: block;
                        margin: 40px auto;

                        a {
                            text-decoration: none;
                            color: #fff;
                            display: block;
                            text-transform: uppercase;


                            &:before {
                                display: inline-block;
                                vertical-align: middle;
                                content: "";
                                width: 30px;
                                height: 30px;
                                background: url('../images/icono-mas2.png') no-repeat;
                                margin: -7px 10px 0 5px;
                            }
                        }
                    }
                }

                &.text-sociedad {
                    width: 60%;

                    h4 {
                        color: #ffffff;
                    }

                    @include tablet {
                        width: 100%;
                    }
                }

                &.text-ecosistema {
                    width: 50%;

                    h4 {
                        color: #ffffff;
                    }

                    @include tablet {
                        width: 100%;
                    }
                }

                &.text-detalle-proyecto {
                    width: 50%;
                    padding: 30px;

                    h4 {
                        color: #ffffff;
                    }

                    @include tablet {
                        width: 100%;
                        padding: 10px;
                    }
                }
            }

            .scroll-bottom {
                position: absolute;
                bottom: 0;
                left: 0;
                text-align: center;
                width: 100%;
                height: 50px;
                cursor: pointer;

                &.btn-discover {
                    @include tablet {
                        display: none;
                    }
                }
            }

            @include tablet {
                width: 100%;
            }

            &.contenido-sociedad {
                display: flex;
                justify-content: space-between;
                padding: 90px 80px 0 50px;

                .img-sociedad {
                    width: 40%;
                    text-align: left;

                    @include bigLapto {
                        width: 35%;
                    }

                    @include desktop {
                        width: 35%;
                    }

                    @include tablet {
                        width: 60%;
                        margin: 40px auto;
                    }
                }

                .img-detalle-proyecto {
                    width: 40%;
                    text-align: left;
                    position: relative;
                    height: 528px;
                    overflow: hidden;

                    @include bigLapto {
                        width: auto;
                    }

                    @include desktop {
                        width: auto;
                    }

                    @include tablet {
                        width: 100%;
                        height: auto;
                    }

                    &:before {
                        position: absolute;
                        width: 92px;
                        height: 100%;
                        background: rgba(250, 166, 26, .8);
                        content: "";
                    }

                    .play-detalle {
                        position: absolute;
                        width: 100%;
                        top: 50%;
                        text-align: center;

                        img {
                            width: auto;
                            max-width: 100%;
                            height: auto;
                        }
                    }

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                @include bigLapto {
                    padding: 90px 20px 0 20px;
                }

                @include desktop {
                    padding: 90px 20px 0 20px;
                }

                @include tablet {
                    width: 100%;
                    flex-direction: column-reverse
                }

                @include tablet {
                    padding-top: 40px;

                }

                &.contenido-detalle-proyecto {
                    padding-left: 0;
                    padding-right: 0;

                    @include tablet {
                        width: 100%;
                        flex-direction: column;
                        padding-top: 30px;
                    }
                }


            }


            &.contenido-ecosistema {
                display: flex;
                justify-content: space-between;
                padding: 90px 80px 0 50px;

                .img-ecosistema {
                    width: 40%;
                    text-align: left;

                    @include bigLapto {
                        width: 35%;
                    }

                    @include desktop {
                        width: 35%;
                    }

                    @include tablet {
                        width: 60%;
                        margin: 40px auto;
                    }
                }

                @include bigLapto {
                    padding: 90px 20px 0 20px;
                }

                @include desktop {
                    padding: 90px 20px 0 20px;
                }

                @include tablet {
                    width: 100%;
                    flex-direction: column;
                }

                @include tablet {
                    padding-top: 40px;
                }
            }
        }

        @include tablet {
            width: 100%;
            flex-direction: column;
            height: auto;
        }

        &.mejorar-sociedad {
            background: #ffffff;

            @include desktop {
                height: auto;
            }

            @include tablet {
                height: auto;
            }
        }
    }

    .proyectos {
        display: flex;
        justify-content: space-between;
        background: #313a48;
        height: auto;
        position: relative;

        .titulo-proyectos {
            width: 5%;
            background: #313a48;
            position: relative;

            .content-titulo {
                transform: rotate(180deg);
                position: absolute;
                top: 40%;
                left: 35%;
                writing-mode: vertical-rl;

                .siguenos {
                    display: inline-block;
                    vertical-align: middle;

                    a {
                        color: #fff;
                        text-decoration: none;
                        display: inline-block;
                        vertical-align: middle;
                        position: relative;
                        font-family: 'ralewaybold';
                        font-size: 0.875em;
                    }

                    &.siguenos-precencion {
                        a {
                            color: #313a48;

                            span {
                                color: #f05674;
                            }
                        }

                    }

                    &.tit-negocio {
                        a {
                            color: #313a48;

                            span {
                                color: #006fba;
                            }

                        }

                    }

                    &.siguenos-ecosistema {
                        a {
                            color: #313a48;

                            span {
                                color: #faa61a;
                            }

                        }

                    }
                }

                @include tablet {
                    transform: none;
                    text-align: center;
                    position: relative;
                    left: auto;
                    display: table-cell;
                    vertical-align: middle;
                    top: auto;
                    border-top: 1px solid #000;
                }


            }

            @include tablet {
                width: 100%;
                height: 70px;
                display: table;
            }

            &.titulo-prevencion {
                background: #ffffff;
                margin-top: 40px;
            }

            &.bg-tit-proyectos {
                background: #313a48;
                margin-top: 0;
            }

        }

        .banner-proyectos {
            width: 95%;
            background: url('../images/banner-proyectos.jpg') no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            position: relative;
            display: flex;
            justify-content: space-between;
            position: relative;
            height: 100vh;

            &:before {
                position: absolute;
                right: 0;
                width: 50%;
                height: 100%;
                display: block;
                content: "";
                background: rgba(49, 58, 72, .9);
                z-index: 5;

                @include tablet {
                    width: 100%;
                    bottom: 0;
                    height: 50%;
                    background: rgba(49, 58, 72, 1);
                }
            }

            .play-video {
                position: relative;
                top: 40%;
                text-align: center;
                height: 80px;

                .ico-play {
                    position: absolute;
                    width: 100%;

                    img {
                        width: auto;
                        height: auto;
                    }

                }
            }

            .content-eco {
                width: 50%;
                height: 100%;
                position: relative;
                right: 0;
                top: 0;
                z-index: 10;

                .info-eco {
                    display: table;
                    width: 100%;
                    height: 100%;

                    .elementos-eco {
                        display: table-cell;
                        vertical-align: middle;
                        padding: 0 25px 0 45px;

                        .titulo-eco {
                            font-family: 'ralewaybold';
                            font-size: 1.6em;
                            color: #fff;
                            margin: 20px 0px;

                            @include apaisada {
                                margin: 20px 40px;
                            }

                            @include mobile {
                                margin: 20px 30px;
                            }
                        }

                        .titulo-2 {
                            display: none;
                        }

                        @include tablet {
                            .titulo-2 {
                                font-family: 'ralewaylight';
                                font-size: 1em;
                                color: #fff;
                                color: #fff;
                                display: block;
                            }
                        }

                        .descripcion-eco {
                            p {
                                font-family: 'ralewaymedium';
                                font-size: 1em;
                                color: #fff;
                                line-height: 22px;
                                margin: 0;

                            }
                        }

                        .btn-eco {
                            width: 160px;
                            height: 40px;
                            border: 1px solid #faa61a;
                            border-radius: 20px;
                            text-align: center;
                            margin-top: 20px;

                            a {
                                text-decoration: none;
                                color: #fff;
                                font-family: 'ralewaybold';
                                font-size: 0.875em;
                                line-height: 40px;
                                display: block;
                                text-transform: uppercase;

                                &:after {
                                    display: inline-block;
                                    vertical-align: middle;
                                    width: 5px;
                                    height: 8px;
                                    background: url('../images/arrow.png') no-repeat;
                                    content: "";
                                    margin: -5px 0 0 10px;
                                }
                            }

                            @include tablet {
                                margin: 20px auto;
                            }

                            &.blanco {
                                border: 1px solid #ffffff;

                                a {

                                    &:after {

                                        background: url('../images/arrow_b.png') no-repeat;
                                        content: "";
                                    }

                                }

                            }
                        }

                        .eco-img {
                            display: block;

                            @include tablet {
                                display: none;
                            }
                        }

                        @include tablet {
                            text-align: center;
                            padding: 0 20px;
                        }
                    }
                }

                @include tablet {
                    width: 100%;
                    height: 50%;
                }

            }

            .scroll-bottom {
                position: absolute;
                bottom: 0;
                left: 0;
                text-align: center;
                width: 100%;
                height: 50px;
                cursor: pointer;
                z-index: 10;

                @include tablet {
                    display: none;
                }
            }

            .base-video {
                position: relative;
                width: 50%;
                height: auto;

                img {
                    width: 100%;
                    height: auto;

                    @include tablet {
                        width: auto;
                    }
                }

                @include tablet {
                    width: 100%;
                    height: 50%;
                }
            }

            .contenedor-video {
                position: absolute;
                width: 100%;
                height: 100%;


                iframe {
                    width: 100%;
                    height: auto;
                }
            }

            @include tablet {
                display: flow-root;
                width: 100%;
                //background-size: 100%;
            }

            &.banner-prevencion {
                background: url('../images/banner-prevencion.jpg') no-repeat;
                background-size: cover;

                &:before {
                    background: rgba(235, 96, 123, .9);
                    content: "";
                }
            }

            &.banner-negocio {
                background: url('../images/banner-negocio.jpg') no-repeat;
                background-size: cover;

                &:before {
                    background: rgba(0, 111, 186, .9);
                    content: "";
                }
            }

            &.banner-ecosistema {
                background: url('../images/banner-ecosistema.jpg') no-repeat;
                background-size: cover;

                &:before {
                    background: rgba(246, 163, 26, .9);
                    content: "";
                }
            }

            &.slider-proyectos {
                background-image: none;
                background-color: #313a48;
                padding-top: 70px;
                height: auto;

                &:before {
                    content: "";
                    background: none;
                    display: none;
                }

                .parrafo {
                    width: 50%;

                    p {
                        color: #ffffff;
                        font-family: 'ralewaymedium';
                        margin-bottom: 30px;
                    }

                    @include desktop {
                        width: 40%;
                    }

                    @include tablet {
                        width: 100%;
                    }
                }

                .info-team {
                    width: 40%;
                    padding-right: 10%;

                    .img-team {
                        display: inline-block;
                        vertical-align: bottom;

                        @include tablet {
                            display: block;
                            text-align: center;
                        }
                    }

                    .detalle-team {
                        display: inline-block;
                        vertical-align: bottom;
                        margin-left: 10px;

                        .nombre-team {
                            font-family: 'ralewaybold';
                            color: #ffffff;
                        }

                        .cargo-team {
                            font-family: 'ralewayregular';
                            color: #ffffff;

                        }

                        @include tablet {
                            display: block;
                            padding: 0;
                            text-align: center;
                            margin: 10px 0;
                        }
                    }

                    .description-team {
                        display: block;
                        margin-top: 60px;
                        position: relative;

                        p {
                            font-family: 'ralewaymedium';
                            text-align: center;
                            color: #ffffff;
                        }

                        &:before {
                            content: "";
                            background: url('../images/comilla-top.png') no-repeat;
                            position: absolute;
                            top: 0;
                            left: -45px;
                            width: 31px;
                            height: 27px;

                            @include tablet {
                                left: 45%;
                                top: -50%;
                            }

                            @include apaisada {
                                left: 45%;
                                top: -25%;
                            }
                        }

                        &:after {
                            content: "";
                            background: url('../images/comilla-bottom.png') no-repeat;
                            position: absolute;
                            bottom: 0;
                            right: -45px;
                            width: 30px;
                            height: 27px;

                            @include tablet {
                                right: 50%;
                                bottom: -50%;
                            }

                            @include apaisada {
                                right: 45%;
                                bottom: -25%;
                            }
                        }

                        @include tablet {
                            width: 80%;
                            margin: 75px auto;
                        }
                    }

                    @include desktop {
                        width: 50%;
                        padding-right: 7%;
                    }

                    @include tablet {
                        width: 100%;
                        padding-right: 0;
                        margin: 0 auto;
                    }
                }

                @include tablet {
                    padding: 10px;
                    flex-direction: column-reverse;
                    display: inherit;
                    width: 100%
                }
            }

        }

        @include tablet {
            display: flow-root;
        }

        &.prevencion-cancer {
            background: #ffffff;
        }

        &.detalle-bloque-proyectos {
            display: flex;
            flex-wrap: wrap;

            .slider-pro {
                width: 100%;
                text-align: center;
                padding: 60px 0;
                position: relative;

                .nav {
                    width: 100%;
                    position: absolute;
                    top: 45%;
                    font-family: 'ralewaymedium';
                    font-size: 1em;
                    color: #ffffff;

                    .prev {
                        width: 187px;
                        height: 125px;
                        position: absolute;
                        left: 20%;

                        @include bigLapto {
                            left: 10%;
                        }

                        @include desktop {
                            left: 7%;
                        }

                        .ant {
                            position: absolute;
                            bottom: 5px;
                            width: 100%;
                            left: 0;

                            &:before {
                                width: 12px;
                                height: 11px;
                                content: "";
                                background: url('../images/arrow-left.png') no-repeat;
                                display: inline-block;
                                vertical-align: baseline;
                                margin-right: 10px;
                            }
                        }

                        @include tablet {
                            display: none;
                        }
                    }

                    .next {
                        width: 187px;
                        height: 125px;
                        position: absolute;
                        right: 20%;

                        @include bigLapto {
                            right: 10%;
                        }

                        @include desktop {
                            right: 7%;
                        }

                        @include tablet {
                            display: none;
                        }

                        .sig {
                            position: absolute;
                            bottom: 5px;
                            width: 100%;
                            right: 0;

                            &:after {
                                width: 12px;
                                height: 11px;
                                content: "";
                                background: url('../images/arrow-right.png') no-repeat;
                                display: inline-block;
                                vertical-align: baseline;
                                margin-left: 10px;
                            }
                        }
                    }
                }

                .nav-mobile {
                    display: none;

                    @include tablet {
                        position: absolute;
                        right: 5px;
                        bottom: 5px;
                        display: block;
                    }

                }
            }

            @include tablet {
                padding: 60px 10px;
            }
        }
    }

    .bloque-texto-redes {
        padding: 50px;
        text-align: center;
        font-size: 1.2em;

        p {
            font-family: 'DINPro-Bold';
            font-size: 30px;
            line-height: normal;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                display: inline-block;
                vertical-align: middle;

                a {
                    display: block;
                    text-indent: -8000px;
                    margin: 0 5px;

                    &.facebook {
                        background: url('../images/redes.png') no-repeat 0 0;
                        width: 23px;
                        height: 23px;
                        display: block;
                    }

                    &.twitter {
                        background: url('../images/redes.png') no-repeat -39px 0;
                        width: 23px;
                        height: 23px;
                        display: block;
                    }
                }

                &:first-child {
                    font-family: 'DINPro-Regular';
                    font-size: 1em;
                }
            }
        }

        @include tablet {
            padding: 40px 15px;
        }

        .compartir {
            margin-top: 40px;
        }
    }


    .bizruptores {
        display: flex;
        justify-content: space-between;

        .titulo-bizruptores {
            width: 5%;
            position: relative;

            .content-titulo {
                transform: rotate(180deg);
                position: absolute;
                top: 40%;
                left: 35%;
                writing-mode: vertical-rl;

                .siguenos {
                    display: inline-block;
                    vertical-align: middle;

                    a {
                        color: #313a48;
                        text-decoration: none;
                        display: inline-block;
                        vertical-align: middle;
                        position: relative;
                        font-family: 'ralewaybold';
                        font-size: 0.875em;
                    }

                    @include tablet {
                        display: table-cell;
                        text-align: center;
                    }
                }

                @include tablet {
                    transform: none;
                    position: relative;
                    left: auto;
                    height: 100%;
                    display: table;
                    width: 100%;
                    top: 0;
                    right: 0;
                    writing-mode: inherit;
                }
            }

            @include tablet {
                height: 70px;
                width: 100%;
                border-top: 1px solid #000;
            }
        }

        .team-bizruptores {
            width: 95%;

            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                li {
                    flex-grow: 0;
                    height: auto;
                    width: calc(100%*(1/3) - 0px - 0px);
                    position: relative;
                    overflow: hidden;
                    cursor: default;

                    img {
                        width: 100%;
                        height: auto;
                    }

                    .overlay {
                        display: block;
                        color: #fff;
                        position: relative;


                        &:after {
                            position: absolute;
                            display: block;
                            width: 100%;
                            height: 100%;
                            content: "";
                            top: 0;
                            left: 0;
                            background: rgba(49, 58, 72, .6);
                            transition: all 0.5s linear;
                        }

                        &:hover:before {
                            background: rgba(0, 111, 186, .6);
                            transition: all 0.5s linear;
                            position: absolute;
                            display: block;
                            width: 100%;
                            height: 100%;
                            content: "";
                            top: 0;
                            left: 0;

                            /* move this here from :hover */
                        }

                        &:hover {
                            .detalle-team {
                                display: block;

                                @include tablet {
                                    display: none;
                                }
                            }
                        }

                        &:hover:after {
                            content: "";
                            background: none;
                        }

                        .detalle-team {
                            position: absolute;
                            top: 45%;
                            left: 20px;
                            display: none;
                            z-index: 10;

                            @include bigLapto {
                                top: 25%;
                            }

                            .nombre {
                                font-family: 'ralewaybold';
                                font-size: 1.25em;
                                color: #fff;
                                margin-bottom: 25px;

                                @include desktop {
                                    font-size: 0.9em;
                                    margin-bottom: 10px;
                                }
                            }

                            .descripcion {
                                p {
                                    font-family: 'ralewayregular';
                                    font-size: 0.95em;
                                    color: #fff;
                                    text-align: left;
                                    padding: 0 20px 0 0;
                                    margin: 0;
                                    line-height: 20px;
                                    min-height: 150px;
                                    overflow: hidden;

                                    @include desktop {
                                        font-size: 0.8em;
                                        line-height: 18px;
                                    }
                                }
                            }
                        }

                        .nombre-team {
                            position: absolute;
                            left: 20px;
                            bottom: 25px;
                            display: block;
                            font-family: 'ralewaybold';
                            font-size: 1.25em;
                            color: #fff;
                            z-index: 5;

                            @include desktop {
                                font-size: 0.9em;
                            }

                            @include tablet {
                                bottom: 70px;
                            }
                        }

                        .team-redes {
                            margin: 30px 25px 0 0;

                            span {
                                display: inline-block;
                                vertical-align: middle;
                                margin: 0 10px;

                                a {
                                    display: block;

                                    &.linkedin {
                                        background: url('../images/team-redes.png') no-repeat 0 0;
                                        width: 18px;
                                        height: 18px;
                                    }

                                    &.twitter {
                                        background: url('../images/team-redes.png') no-repeat -34px -1px;
                                        width: 20px;
                                        height: 17px;
                                    }
                                }
                            }

                            position: absolute;
                            top:0;
                            right:0;
                            z-index:10;

                            @include tablet {
                                left: 0;
                                bottom: 0;
                                top: auto;
                                margin: 0 0 25px 10px;
                            }
                        }
                    }

                    @include tablet {
                        width: calc(100%*(1/2) - 0px - 0px);
                    }


                }
            }

            @include tablet {
                width: 100%;
            }

        }

        @include tablet {
            width: 100%;
            flex-direction: column;
        }
    }

    .items-menus {
        display: flex;
        justify-content: space-between;

        .items-tit {
            width: 5%;
            background: rgb(250, 175, 48);

            @include tablet {
                display: none;
            }
        }

        .items-tit-neg {
            width: 5%;
            background: rgb(12, 118, 189);

            @include tablet {
                display: none;
            }
        }

        .items {
            width: 47.5%;
            height: 300px;
            display: table;
            background: rgb(250, 175, 48);

            .eco-s {
                background: rgba(250, 175, 48, .9) url('../images/forma-menu1.png') no-repeat;
                background-size: cover;
                height: 100%;
                display: table-cell;
                vertical-align: middle;
                padding: 0 30%;

                @include tablet {
                    padding: 0 40px;
                }

                @include apaisada {
                    padding: 0 20px;
                }

                @include apaisada {
                    padding: 0 10px;
                }
            }

            .neg-n {
                background: rgba(25, 125, 193, .9) url('../images/forma-menu2.png') no-repeat;
                background-size: cover;
                height: 100%;
                display: table-cell;
                vertical-align: middle;
                padding: 0 24%;

                @include tablet {
                    padding: 0 40px;
                }

                @include apaisada {
                    padding: 0 20px;
                }

                @include apaisada {
                    padding: 0 10px;
                }
            }

            .neg-s {
                background: rgba(241, 103, 130, .9) url('../images/forma-menu3.png') no-repeat;
                background-size: cover;
                height: 100%;
                display: table-cell;
                vertical-align: middle;
                padding: 0 24%;

                @include tablet {
                    padding: 0 40px;
                }

                @include apaisada {
                    padding: 0 20px;
                }

                @include apaisada {
                    padding: 0 10px;
                }
            }

            .tit-item {
                font-family: 'ralewayregular';
                font-size: 1em;
                color: #ffffff;
            }

            .sub-tit-item {
                font-family: 'ralewaybold';
                font-size: 1.625em;
                color: #ffffff;
            }

            @include tablet {
                width: 50%;
            }
        }

        .items-neg {
            width: 47.5%;
            height: 300px;
            display: table;
            background: rgb(12, 118, 189);

            .eco-s {
                background: rgba(250, 175, 48, .9) url('../images/forma-menu1.png') no-repeat;
                background-size: cover;
                height: 100%;
                display: table-cell;
                vertical-align: middle;
                padding: 0 30%;

                @include tablet {
                    padding: 0 40px;
                }

                @include apaisada {
                    padding: 0 20px;
                }

                @include apaisada {
                    padding: 0 10px;
                }
            }

            .neg-n {
                background: rgba(25, 125, 193, .9) url('../images/forma-menu2.png') no-repeat;
                background-size: cover;
                height: 100%;
                display: table-cell;
                vertical-align: middle;
                padding: 0 24%;

                @include tablet {
                    padding: 0 40px;
                }

                @include apaisada {
                    padding: 0 20px;
                }

                @include apaisada {
                    padding: 0 10px;
                }
            }

            .neg-s {
                background: rgba(241, 103, 130, .9) url('../images/forma-menu3.png') no-repeat;
                background-size: cover;
                height: 100%;
                display: table-cell;
                vertical-align: middle;
                padding: 0 24%;

                @include tablet {
                    padding: 0 40px;
                }

                @include apaisada {
                    padding: 0 20px;
                }

                @include apaisada {
                    padding: 0 10px;
                }
            }

            .tit-item {
                font-family: 'ralewayregular';
                font-size: 1em;
                color: #ffffff;
            }

            .sub-tit-item {
                font-family: 'ralewaybold';
                font-size: 1.625em;
                color: #ffffff;
            }

            @include tablet {
                width: 50%;
            }
        }
    }

    .barra-contactos {
        width: 100%;
        height: 190px;
        background: #313a48;
        text-align: center;
        display: table;

        .elemento-contacto {
            display: table-cell;
            vertical-align: middle;

            h5 {
                font-family: 'ralewaybold';
                font-size: 1.25em;
                color: #fff;
            }

            .btn-contacto {
                width: 180px;
                height: 45px;
                border-radius: 30px;
                background: #f05674;
                margin: 0 auto;
                line-height: 45px;
                font-family: 'ralewaybold';
                font-size: 1em;
                margin-top: 30px;

                a {
                    color: #fff;
                    text-decoration: none;
                    display: block;
                }
            }
        }
    }

    .barra-instagram {
        width: 100%;
        height: 150px;
        display: table;
        text-align: center;

        .elemento-instagram {
            display: table-cell;
            vertical-align: middle;

            h6 {
                color: #006fb9;
                font-family: 'ralewaybold';
                font-size: 1.25em;
            }

            span {
                color: #f05574;
                font-family: 'ralewayregular';
                font-size: 0.875em;
            }
        }
    }

    .barra-info {
        width: 100%;

        .elementos-info {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .box {
                flex-grow: 0;
                height: auto;
                width: calc(100%*(1/5) - 0px - 0px);
                position: relative;
                overflow: hidden;
                text-align: left;

                &.box-1 {
                    position: relative;

                    &:before {
                        position: absolute;
                        background: rgba(13, 118, 190, .95);
                        content: "";
                        display: block;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                    }

                    .text-box-1 {
                        position: absolute;
                        bottom: 20px;
                        left: 0;
                        padding: 0 25px;
                        color: #fff;
                        font-family: 'ralewayregular';
                        font-size: 1.05em;

                        @include desktop {
                            font-size: 0.8em;
                        }

                        @include tablet {
                            bottom: 50%;
                            text-align: center;
                            font-size: 0.875em;
                        }
                    }
                }

                &.box-2 {
                    background: #006fb9;

                    @include tablet {
                        display: none;
                    }
                }

                &.box-3 {
                    background: #00b5d2;

                    @include tablet {
                        display: none;
                    }
                }

                &.box-4 {
                    background: #f05574;

                    @include tablet {
                        display: none;
                    }
                }

                &.box-5 {
                    background: #f9a61a;

                    @include tablet {
                        display: none;
                    }
                }

                @include tablet {
                    width: calc(100%*(1/1) - 0px - 0px);
                    width: 100%;
                }

            }
        }
    }

    .content-contacto {
        display: flex;
        justify-content: space-between;
        padding: 0 95px;

        .form {

            width: 55%;

            form {
                width: 50%;
                padding-top: 40px;

                label {
                    width: auto;
                }

                .nombre {
                    display: inline-block;
                    vertical-align: top;

                    &:before {
                        content: "";
                        background: url('../images/iconos-form.png') no-repeat -1px -3px;
                        width: 16px;
                        height: 19px;
                        display: inline-block;
                        vertical-align: middle;
                    }
                }

                .empresa {
                    display: inline-block;
                    vertical-align: top;

                    &:before {
                        content: "";
                        background: url('../images/iconos-form.png') no-repeat -1px -61px;
                        width: 18px;
                        height: 17px;
                        display: inline-block;
                        vertical-align: middle;
                    }
                }

                .email {
                    display: inline-block;
                    vertical-align: top;

                    &:before {
                        content: "";
                        background: url('../images/iconos-form.png') no-repeat -1px -117px;
                        width: 18px;
                        height: 15px;
                        display: inline-block;
                        vertical-align: middle;
                    }
                }

                .mensaje {
                    display: inline-block;
                    vertical-align: top;

                    &:before {
                        content: "";
                        background: url('../images/iconos-form.png') no-repeat -1px -171px;
                        width: 16px;
                        height: 17px;
                        display: inline-block;
                        vertical-align: middle;
                    }
                }



                input[type=text] {
                    width: 95%;
                    height: 30px;
                    display: inline-block;
                    vertical-align: middle;
                    margin-bottom: 30px;
                    border: none;
                    border-bottom: 1px solid #313a48;
                    padding: 0 10px;
                    color: #9a9a9a;
                    font-size: 0.938em;
                    font-family: 'ralewaylight';


                    @include apaisada {
                        width: 90%;
                    }
                }

                input[type=textarea] {
                    width: 95%;
                    height: 30px;
                    display: inline-block;
                    vertical-align: middle;
                    margin-bottom: 30px;
                    border: none;
                    border-bottom: 1px solid #313a48;
                    padding: 0 10px;
                    color: #9a9a9a;
                    font-size: 0.938em;
                    font-family: 'ralewaylight';

                    @include apaisada {
                        width: 90%;
                    }
                }

                input[type=email] {
                    width: 95%;
                    height: 30px;
                    display: inline-block;
                    vertical-align: middle;
                    margin-bottom: 30px;
                    border: none;
                    border-bottom: 1px solid #313a48;
                    padding: 0 10px;
                    color: #9a9a9a;
                    font-size: 0.938em;
                    font-family: 'ralewaylight';

                    @include apaisada {
                        width: 90%;
                    }
                }

                input[type=button] {
                    width: 60%;
                    height: 30px;
                    display: block;
                    width: 160px;
                    height: 40px;
                    border-radius: 35px;
                    border: 1px solid #f05674;
                    background: #ffffff;
                    margin: 30px auto;
                    color: #f05674;
                    font-size: 0.938em;
                    cursor: pointer;
                }

                input[type=submit] {
                    width: 60%;
                    height: 30px;
                    display: block;
                    width: 160px;
                    height: 40px;
                    border-radius: 35px;
                    border: 1px solid #f05674;
                    background: #ffffff;
                    margin: 30px auto;
                    color: #f05674;
                    font-size: 0.938em;
                    cursor: pointer;
                }

                ::-webkit-input-placeholder {
                    /* Chrome/Opera/Safari */
                    color: #9a9a9a;
                    font-size: 0.938em;
                }

                ::-moz-placeholder {
                    /* Firefox 19+ */
                    color: #9a9a9a;
                    font-size: 0.938em;
                }

                :-ms-input-placeholder {
                    /* IE 10+ */
                    color: #9a9a9a;
                    font-size: 0.938em;
                }

                :-moz-placeholder {
                    /* Firefox 18- */
                    color: #9a9a9a;
                    font-size: 0.938em;
                }

                @include desktop {
                    width: 75%;
                }


                @include tablet {
                    width: 100%;
                }
            }

            h4 {
                font-size: 1.626em;
                color: #000000;
                font-family: 'ralewaybold';
            }

            h3 {
                font-size: 0.9em;
                color: #313a48;
                font-family: 'ralewayregular';
                line-height: 22px;
            }

            .success {
                color: #313a48;
                font-family: 'ralewayregular';
                font-size: 1em;
                display: block;
                text-align: center;
                margin: 20px 0;


                &:before {
                    content: "";
                    display: inline-block;
                    vertical-align: middle;
                    background: url('../images/check.png') no-repeat;
                    width: 33px;
                    height: 33px;
                    margin: -8px 10px 0 0;
                }
            }

            @include tablet {
                width: 100%;
                display: block;
                padding: 40px 0;
                border-bottom: 1px solid #000000;
            }

        }

        .info {

            width: 50%;

            h5 {
                color: #313a48;
                font-family: 'ralewayregular';
                font-size: 1em;
                margin-bottom: 85px;

                @include tablet {
                    margin-bottom: 40px;
                }
            }

            ul {
                margin: 0;
                padding: 0;
                list-style: none;

                li {
                    display: block;
                    margin-bottom: 45px;
                    color: #313a48;
                    font-family: 'ralewayregular';

                    span {
                        font-family: 'ralewaybold';
                    }

                    &.oficina {
                        display: block;

                        &:before {
                            content: "";
                            background: url('../images/iconos-info.png') no-repeat -2px -2px;
                            width: 30px;
                            height: 31px;
                            display: block;
                            float: left;
                            margin-right: 15px;
                        }
                    }


                    &.correo {
                        display: block;

                        &:before {
                            content: "";
                            background: url('../images/iconos-info.png') no-repeat -2px -101px;
                            width: 30px;
                            height: 31px;
                            display: block;
                            float: left;
                            margin-right: 15px;
                        }
                    }


                    &.telefono {
                        display: block;

                        &:before {
                            content: "";
                            background: url('../images/iconos-info.png') no-repeat -2px -204px;
                            width: 30px;
                            height: 65px;
                            display: block;
                            float: left;
                            margin-right: 15px;
                        }
                    }
                }
            }

            .siguenos-instagram {
                display: inline-block;
                vertical-align: middle;

                a {
                    display: inline-block;
                    vertical-align: middle;
                    text-decoration: none;
                    color: #a6aebb;
                    font-family: 'ralewayregular';
                    font-size: 0.875em;

                    &:after {
                        content: "";
                        display: inline-block;
                        vertical-align: middle;
                        background: url('../images/instagram-color.png') no-repeat;
                        width: 25px;
                        height: 25px;
                        margin-left: 15px;

                    }
                }
            }

            @include tablet {
                width: 100%;
                display: block;
                margin: 60px 0;
            }

        }

        @include tablet {
            display: flow-root;
            padding: 0 40px;
        }

        @include apaisada {
            padding: 0 10px;
        }
    }




    footer {
        padding: 0 50px;

        .elementos-footer {
            width: 100%;
            display: flex;
            justify-content: space-between;
            height: 100px;

            .box-footer {
                position: relative;
                line-height: 100px;

                @include tablet {
                    line-height: normal;
                }
            }

            @include tablet {
                width: 100%;
                flex-direction: column-reverse;
                text-align: center;
            }
        }

        .scroll-up {
            line-height: 100px;
            cursor: pointer;
            //padding-left: 8.5%;

            @include tablet {
                line-height: normal;
            }
        }

        @include tablet {
            .logo-pie-instagram {
                display: none;
            }
        }

        @include tablet {
            padding: 25px 0 20px 0;
        }
    }