header(id="header")
	.menu
		.top-menu
			.close
				img(src="images/btn-cerrar.png")
			.logo-menu
				img(src="images/logo-menu.png")
		nav
						ul
							li
								a(href="#") Quiénes somos

							li
								a(href="#") Proyectos

							li(class="prensa")

								a(href="#") Prensa 
									span(class="open-close")

								ul(class="sub-menu") 
									li 
										a(href="#") Eventos
									li 
										a(href="#") Noticias
									li 
										a(href="#") Fotos
									li 
										a(href="#") Videos

							li

								a(href="#") Notas de Interés
		.instagram
			span(class="tit-siguenos") Siguenos en:
			span(class="icono-instagram")
				a(href="#")
					img(src="images/icono-instagram.png")
		
	
	.menu-blanco
		.top-menu
			.close
				img(src="images/btn-cerrar2.jpg")
			.logo-menu
				img(src="images/logo.png")
		nav(class="items")
						ul
							li(class="active")
								a(href="#") Quiénes somos

							li
								a(href="#") Proyectos

							li(class="prensa")

								a(href="#") Prensa 
									span(class="open-close")

								ul(class="sub-menu") 
									li 
										a(href="#") Eventos
									li 
										a(href="#") Noticias
									li 
										a(href="#") Fotos
									li 
										a(href="#") Videos

							li

								a(href="#") Notas de Interés
							li
								a(href="#") Contáctenos
		.instagram
			span(class="tit-siguenos") Siguenos en:
			span(class="icono-instagram")
				a(href="#")
					img(src="images/instagram-color.png")
			
	.top
		.elemento-row
			.elemento-column
				a(href="#" class="menu_on")
					span
					span
					span
				.logo
					img(src="images/logo.png")
