header(id="header" class="negocio")
	.menu
		.top-menu
			.close
				img(src="images/btn-cerrar.png")
			.logo-menu
				img(src="images/logo-menu.png")
		nav
						ul
							li
								a(href="#") Quiénes somos

							li
								a(href="#") Proyectos

							li(class="prensa")

								a(href="#") Prensa 
									span(class="open-close")

								ul(class="sub-menu") 
									li 
										a(href="#") Eventos
									li 
										a(href="#") Noticias
									li 
										a(href="#") Fotos
									li 
										a(href="#") Videos

							li

								a(href="#") Notas de Interés
		.instagram
			span(class="tit-siguenos siguenes-blanco") Siguenos en:
			span(class="icono-instagram")
				a(href="#")
					img(src="images/icono-instagram.png")
		
	
	.menu-blanco
		.top-menu
			.close
				img(src="images/btn-cerrar2.jpg")
			.logo-menu
				img(src="images/logo.png")
		nav(class="items")
						ul
							li(class="active")
								a(href="#") Quiénes somos

							li
								a(href="#") Proyectos

							li(class="prensa")

								a(href="#") Prensa 
									span(class="open-close")

								ul(class="sub-menu") 
									li 
										a(href="#") Eventos
									li 
										a(href="#") Noticias
									li 
										a(href="#") Fotos
									li 
										a(href="#") Videos

							li

								a(href="#") Notas de Interés
							li
								a(href="#") Contáctenos
		.instagram
			span(class="tit-siguenos") Siguenos en:
			span(class="icono-instagram")
				a(href="#")
					img(src="images/instagram-color.png")
			
	.top
		.elemento-row
			.elemento-column
				a(href="#" class="menu_on m-blanco")
					span
					span
					span
				.logo
					img(src="images/logo-blanco.png")
			.elemento-column
				.btn-contacto(class="btn-azul")
					a(href="#") Contáctanos
	.container-header
				.titulo-instagram
					.content-titulo
						.siguenos(class="siguenos-blanco")
							a(href="#") Sigueneos en
				.elemento-row
					.box-video(class="texto-sociedad")
						h4 Innovación para el desarrollo del 
							span Negocio
						h3 Creamos soluciones para el desarrollo de los negocios. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
					
					.formas
						.position-formas
							.conos-1
								div(class="cian")
									img(src="images/cian.png")
								div(class="azul2")
									img(src="images/azul2.png")
								div(class="magenta sociedad-magenta")
									.titulo
										|Sociedad
									img(src="images/magenta.png")
								div(class="cian2")
									img(src="images/cian2.png")
							
							.conos-2
								div(class="amarillo")
									.titulo
										|Ecosistema
									img(src="images/amarillo.png")
								div(class="magenta2")
									img(src="images/magenta2.png")
								div(class="azul")
									.titulo
										|Negocio
									img(src="images/negocio-blanco.png")
								div(class="amarillo2")
									img(src="images/amarillo2.png")
							
					.scroll-bottom(class="btn-header")
						img(src="images/scroll-bottom-blanco.png")
